.myL-div1{
	width:100%;
/*     min-height:56px; */
	background:#fff;
	float:left;
	padding: 2.5% 1% 2.5% 3%;

    margin:2% 0 2% 0;
}
.location-div1{
	width: 90%;
	float: left;
	margin: 20% 0 11% 5%;
	background-color: #77c9d0;
	border-radius: 6px;
}
.location-left{
	    width: 20px;
    height: 20px;
	float:left;
	    margin: 11% 0 9% 3%;
background:url(../img/radio2.png) no-repeat; 
 	background-size: 100% 100%;
 	z-index:30;
	}
.selectLeft{
background:url(../img/radio1.png) no-repeat; 
background-size: 100% 100%;
}
.location-center{
	width: 68%;
	float: left;
	margin: 5% 0 5% 5%;
	font-size: 12px;
	color: white;
	}
.location-right{
	width: 6%;
	float: right;
	margin: 10% 6% 6% 0;
	}
.add-ads{
	float: left;
	width: 65%;
	/* height: 68px; */
	background: #088995;
	color: #fff;
	margin: 4% 0 0% 16%;
	border-radius: 5px;
	border: 1px solid #088995;
	font-size: 16px;
	font-weight: bold;
	padding: 2.5% 0 2.5% 0;
	text-align: center;
}