/*memu*/

#left{
	border:1px solid red;
/* 	background:url(../img/banner1.jpg); */
}
.theme2-memu{
width:100%;
height:50px;
background:#bda770;
}
.theme2-memu p{
padding:15px;; 
}
.theme2-memu a{
color:#fff;
margin-left:100px;
font-size:15px;
}

.theme2-memu a:hover{
text-decoration:underline;
}

.theme2-private .banner {
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index:10 ; 
  border-radius:7px;}
.theme2-private   .banner .bd li {
    width: 100%;
    height: 500px; }
   .theme2-private .banner .bd li a {
      width: 100%;
      display: block;
      height: 500px; }
.theme2-private   .banner .operation {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: 300px;
    height: 21px;
    line-height: 21px;
   }
.theme2-private .banner .operation .pageState {
      color: #fff;
      font-size: 13px;
      letter-spacing: 4px;
      display: inline-block;
      vertical-align: top;
      text-align: center; }
      .theme2-private .banner .operation .pageState span {
        color: #bda770; }
    .theme2-private .banner .operation a {
      background: url(../img/icon.png) no-repeat;
      display: inline-block;
      width: 65px;
      height: 90px;
      width: 13px;
      height: 21px; }
      .theme2-private .banner .operation a:hover {
        opacity: 0.8; }
    .theme2-private .banner .operation .prev {
      background-position: -91px -64px;
      margin-right: 5px; }
    .theme2-private .banner .operation .next {
      background-position: -121px -64px; }
/*private*/

.theme2-private{
width:100%;
height:570px;
}


.theme2-private .content1{
width:100%px;
height:533px;
margin-top:20px;
}
.theme2-private #left{
float:left;
width:920px;
height:533px;
margin-left:81px;
border-radius:7px;
margin-top:10px;
}

.theme2-private #T-right{
float:right;
width:316px;
height:533px;
background:#ffffff;
margin-right:81px;
border-radius:7px;
margin-top:10px;
}
.theme2-private #T-right p{
margin-top:20px;
}
 input[type='radio'].radio {
 opacity:0; 
 display:inline-block;
  height:20px;
  margin-left:30px;
   }
    .radio span{
    font-size:13px;
    font-weight:bold;
    }  
  label.radio {
  background:url(../img/circle1.png) no-repeat left center;
   height:19px; 
margin-top:12px;

   padding-left:20px;
   display:inline-block;
   background-size:13px 13px;}
  input[type='radio'].radio:checked + .radio {
   background:url(../img/circle2.png) no-repeat left center;
    background-size:13px 13px;
    color:#bda770;
    }
    
.theme2-private  select{
  border: solid 1px ;
  border-radius:4px;
  width:130px;
  height:26px;
  color:#888888;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("../img/arrow2.png") no-repeat scroll right center transparent;
  background-size:18x 18px;
  
  padding-right: 14px;
}
.theme2-private .S-time1 {
  border: solid 1px ;
  border-radius:4px;
  width:115px;
  height:26px;
  color:#888888;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("../img/arrow2.png") no-repeat scroll right center transparent;
  background-size:18x 18px;
  
  padding-right: 14px;
}
.theme2-private select:active{
 appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

}



.theme2-private #T-right .S-span1{
margin-left:47px;
font-weight:bold;
 font-size:13px;
}
.theme2-private select.S-time{
margin-top:10px;
margin-left:0px;
}
.theme2-private input.T-population{
width:130px;
height:26px;
margin-top:10px;
border:1px solid #888888;
color:#888888;
border-radius:4px;
}
.theme2-private .button1{
width:120px;
height:35px;
background:#bda770;
margin-left:100px;
margin-top:30px;
color:#fff;
z-index: 2;
border-radius:7px;
border:1px solid #bda770;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.theme2-private select:-ms-expand { 
	display: none; }


/*theme*/
.theme2-theme{
width:919px;
height:;
margin-left:81px;
border:1px solid red;
}
.theme2-theme .title{
width:270px;
height:100px;
margin:auto;
font-size: 15px;
margin-top:15px;
}
 hr{
width:80px;
}
.theme2-theme .title p{
          margin-left:120px;  
}
.theme2-theme .title a{
          display: inline-block;
          width: 28px;
          height: 28px;    
          background: url(../img/icon.png) no-repeat #ddd;
          margin-top: 23px;
          background: url(../img/icon.png) no-repeat; }
         .theme2-theme .title a{
            background-position: -343px -2px; }
.theme2-theme .table1{
margin-top:10px;
}
.theme2-theme .table1 td{
 width: 90px;
  text-align: center;
}
 .hr {
  padding:5px;
}

.theme2-theme .T-content1{
width:100%;
height:px;
margin-top:20px;
background:#fff;
border-radius:7px;
-moz-border-radius:7px;
-webkit-border-radius:7px;
}
.theme2-theme .title1{
float:left;
width:270px;
height:480px;
background:#ffffff;
margin-left:65px;
border-radius:7px;
}

.b-download{
width:120px;
height:35px;
background:#bda770;
margin-left:190px;
margin-top:20px;
color:#fff;
border-radius:7px;
border:1px solid #bda770;
}
.theme2-theme .T-span1{
margin-left:350px;
font-size:15px;
font-weight:bold;
}
.theme2-theme p.T-p1{
padding:30px 50px 20px 50px;
font-size:11px;
}
.theme2-theme p.T-p2{
padding:0px 50px 20px 50px;
font-size:11px;
}
.theme2-theme p.T-p3{
padding:0px 50px 50px 50px;
font-size:11px;
}
.C-div{
float:left;
width:240px;
height:250px;
border-radius:7px 7px 0 0;
background:#bda770;

}

.theme2-theme .C-div1{
margin-left:55px;
margin-top:20px;

}
.theme2-theme .C-div p{
text-align:center;
margin-top:110px;
font-size:11px;
color:#fff;
font-weight:bold;
}
.theme2-theme .C-div2{
margin-left:16px;
margin-top:227px;
}
.theme2-theme .C-div3{
margin-left:16px;
margin-top:227px;
}
.theme2-theme .C-div4{
width:150px;
height:30px;
margin:auto;
font-weight:bold;
margin-top:50px;

}
.theme2-theme .C-div4 a{
color:#bda770;
font-size:16px;
}
/*theme2*/
.theme2-theme .T-content2{
width:100%;
height:497px;
margin-top:20px;
background:#fff;
border-radius:7px;
-moz-border-radius:7px;
-webkit-border-radius:7px;
}
/*theme3*/
.theme2-theme .T-content3{
width:100%;
height:px;
margin-top:20px;
background:#;
border-radius:7px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
}
.div-0{
	width:920px;
	height:16px;
	padding:12px 0 11px 0;
	background:#9D824D;
	margin-top:3px;
	border-radius:5px;
}
/* .div-true{
	width:920px;
	height:16px;
	padding:12px 0 11px 0;
	background:#ff0000;
	margin-top:3px;
	border-radius:5px;
	} */
.div-abc1{
	width:870px;
	height:20px;
	background:;
	float:left;
	color:#fff;
font-size:12px;
}
.div-abc2{
	width:22px;
	height:20px;
	background:;
	float:left;
	}
#div1{
display:none;
background:#fff;
border-radius:8px;
margin-bottom:3px;
}
.theme2-theme .div1-left{
width:50%;
}

.theme2-theme .div1-right1{
width:50%;
background:red;
}
.theme2-theme .div1-left p.p1{
padding:40px 0 0 40px;
}
.theme2-theme .div1-left p.p2{
padding:30px 0 50px 40px;
}
/* .theme2-theme .div-0 p.abc{
 margin-left:0px;  
background:;
border-radius:px;
color:#fff;
font-size:12px;
line-height:px;
width:px;
height:px;
} */
.theme2-theme .div-0 a.abc1{
          display: inline-block;
          width: 22px;
          height: 16px;            
          margin-top: -0px;
          align:right;
            margin-bottom: 13px;
           margin-left:px;
          background: url(../img/arrow3.png) no-repeat; 
          background-size:22px 22px;
            }      
 
#div2,#div3,#div4,#div5,#div6,#div7,#div8,#div9,#div10,#C-div5{
display:none;
background:#fff;
border-radius:8px;
}
.theme2-theme .div-1{
margin-top:3px;
}
.theme2-theme .div2 p.p1{

}

/*theme4*/
.theme2-theme4{
width:920px;
height:;
background:#fff;
border-radius:7px;
-moz-border-radius:7px;
-webkit-border-radius:7px;
margin:41px 0 65px 81px;
}
.theme2-theme .T-content4 p{
margin-left:60px;
}
.theme2-theme .T-content4 p.p1{
margin-bottom:10px;
}
.theme2-theme .T-content4 p.p2{
margin-bottom:15px;
line-height:25px;
}
.theme2-theme .T-content4 p.p3{
margin-top:35px;
margin-bottom:15px;
}
.theme2-theme .T-content4{
width:100%;
height:580px;
margin-top:20px;
background:#fff;

}
.theme2-theme .T-content5{
width:100%;
height:300px;
margin-top:20px;
background:#fff;

}
.theme2-theme .T-content5 p{
margin-left:60px;
margin-top:50px;
line-height:25px;
}
.theme2-theme .T-content6{
width:100%;
height:130px;
margin-top:20px;
margin-bottom:60px;
background:#fff;
border-radius:7px;
-moz-border-radius:7px;
-webkit-border-radius:7px;
}
.theme2-theme .T-content6 p{
margin-left:60px;
margin-top:50px;
line-height:25px;
}

