a.lianjie{
	width:100%;
	height:52px;
}
.user-img{
	width: 100%;
	min-height: 100px;
	/* background: url(../img/21.png); */
	float: left;
	/* margin: 3% 0 0 0; */
	padding: 3% 0 3% 0;
	background-size: 100% 100%;
	background-color: #51BDC7;
}
.user-div1{
	width:100%;
	    height: 53px;
/*     min-height:56px; */
	background:#fff;
	float:left;
	    padding: 10px 1% 1.5% 3%;
	border-bottom:2px solid #c8c8c8;

}
.xtb,.img-right{
	
	width:30px;
	float:left;
}
.img-right{
float: right;
        width: 62px;
    margin-top: 8px;
    color: #f08300;
    text-align: right;
}
.user-span{
float:left;
width:60%;
        margin-top: 8px;
    color: #7C7C7C;
    font-size: 13px;
}
.fondout-span{
float:left;
margin-top:1%;
margin-left: 2%;
color:#7C7C7C;
font-size:14px;
}
 .user-button1{
	float:left;
	width:90%;
/* 	height:68px; */
	background:#121A31;
	color:#fff;
	margin: 18% 0 4% 5%;
	border-radius:5px;
	border:1px solid #121A31;
	font-size:16px;
	font-weight:bold;
	    padding: 2.5% 0 2.5% 0;
	}
a.user-a:link {color:#c8c8c8;}	
a.user-a:visited {color:#c8c8c8;}	

.touxiang{
	width: 110px;
	/* border: 1px solid #7C7C7C; */
	min-height: 60px;
	float: left;
	margin: 8% 0% 10% 6%;
	border-radius: 100px;
}
.yonghum{
	width: 56%;
	float: right;
	margin-top: 12%;
	margin-right: 3%;
}
.user-p{
color:#fcf8e3;
}

.actImg{

}
.select_s{
	border-top: 13px solid #51bdc7;
	border-left: 10px solid rgba(204, 204, 204, 0);
	width: 18px;
	border-right: 10px solid rgba(204, 204, 204, 0);
	margin: auto;
	margin-top: 4px;
}
.select_li{
	padding:0 !important;
	box-shadow: 0px 2px 8px #ccc;
	border: 0px !important;
}
.div_selbut{
	float: left;
	width: 100%;
	margin: 26px 0 5px 0;
	min-height: 40px;
	background: #54bfc8;
	padding: 5px 0;
}
.but{
	width: 25%;
	height: 30px;
	background: #54bfc8;
	color: #fff;
	border-radius: 3px;
}
.all_but{
	margin:0 0 0 6% ;
}
.unp_but{
	margin:0 5%;
}
.rev_but{
	margin:0 6% 0 0 ;
}
.but_bac{
	background: #09b0c0 !important;
	box-shadow: 1px 1px 4px rgba(61, 60, 60, 0.2) inset;
}