@frame("关于我们", "AboutApp", "AboutController") {
<meta charset="UTF-8">
<div class="about" style="margin: 3% 5% 1.5% 5%;">
<p style="color:#f08300;font-size:16px;font-weight:bold;"><a name="c5" style="color:#f08300;">联系我们</a><p>
<p><b>漫天香小龙虾-联系方式</b><br><br>
<b>微 信：</b>MTX-ZH<br>
<b>拱北店</b>
0756-3621999 / 0756-8199999<br>
<b>夏湾店</b><br>
0756-3623999<br>
<b>香洲店</b><br>
0756-8858999<br>
<b>中山店</b><br>
0760-87911999<br>
售后联系电话<br>
<b>阿俊：</b>13823974773<br>
<b>阿君：</b>15811680043<br>
<p>
<b>地 址：</b>广东省珠海市拱北高沙街1号<br>

<img src='/assets/img/saoma2.png' alt="" style="width: 70%;margin-left:15%;"><br>
<p style="text-align:center;margin-bottom:40px;">扫面二维码，关注微信，更多惊喜</p>


<p style="color:#f08300;font-size:16px;font-weight:bold;"><a name="c4" style="color:#f08300;">关于我们</a></p>
<p><b>漫天香小龙虾-简介</b><br><br>
漫天香餐饮管理有限公司最早成立于2004年，十年如一日，凭借对品质、服务的不懈追求与坚持，步步为营，稳扎稳打，在业界和消费者中营造了良好的口碑.<br><br>
我们坚持从源头上保证食材干净、卫生。我们的食材小龙虾均产自云南某区原生态湖区，空运至珠海，务求做到呈献餐桌上的每一只都是由干净、新鲜的活体小龙虾烹煮而成，让顾客吃得放心、吃得健康。
</p>

<p style="color:#f08300;font-size:16px;font-weight:bold;margin-top:40px;"><a name="c1" style="color:#f08300;">购物流程</a></p>
<p><b>步骤一：</b>关注微信号：MTX-ZH<br>
<b>步骤二：</b>进入商城<br>
<b>步骤三：</b>选择商品，加入购物车<br>
<b>步骤四：</b>我的购物车（可添加、删除或购买商品）<br>
<b>步骤五：</b>填写订单信息（添加收货人信息，确认订单信息，选择支付方式）<br>
<b>步骤六：</b>购买成功（订单确认，订单取消）<br>
<b>步骤七：</b>评价<br>
</p>

<p style="color:#f08300;font-size:16px;font-weight:bold;margin-top:40px;"><a name="c2" style="color:#f08300;">支付配送</a></p>

<p><b>配送方式：</b>我们将根据您填写的收获地址自动选择最优惠、最快的配送方式。<br>
所产生的运费由买家自己承担，运费根据配送地址不同会产生差异，打包费用已包含在商品价格里。
</p>
<p><b>配送时间：</b>10:00-次日3:30</p>

<p><b>微信支付：</b>请确认您的微信已经绑定银行卡支付功能<br>
仅限微信支付</p>

<p><b>温馨提示:</b><br>
<b>1.</b>因天气、交通等各类因素影响，您的订单可能会有延误现象，敬请谅解<br>
<b>2.</b>请认真填写配送地址和电话信息，地址错误可能导致收货延迟<br>
<b>3.</b>收货时请与配送人员当面核对订单是否符合<br>

</p>
@*<table style="border:2px solid #f9d9b2; width: 80%;margin-left: 10%; margin-top: 30px;">
<th colspan="2" style="text-align: center">配送费详情</th>
 <tr ng-repeat="table in tables">
  <td style="border:1px solid #f9d9b2; width: 83%;" ng-bind="table.area">123</td>
  <td style="border:1px solid #f9d9b2;text-align: center;" ng-bind="table.shipPrice">123</td>
 </tr>
</table>*@


</div>
}

<script src='@routes.Assets.at("js/controllers/about_controller.js")'></script>







