<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <form class="form-horizontal" role="form" ng-submit="formSave(myform.$valid)" name="myform" novalidate>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"
                       for="form-field-1"> 活动商品: </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-3" name="promotionType" ng-model="currentObj.sponsorId" required
                           class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"
                       for="form-field-1"> 价格: </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-3" name="promotionType" ng-model="currentObj.product" required
                           class="col-xs-10 col-sm-5" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"
                       for="form-field-1"> 砍价底线: </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-3" name="title" ng-model="currentObj.originalPrice" required
                           class="col-xs-10 col-sm-5" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"
                       for="form-field-1"> 库存: </label>

                <div class="col-sm-9">
                    <input type="number" id="form-field-3" name="reachMoney" ng-model="currentObj.presentPrice" required
                           class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"
                       for="form-field-1"> 活动时间: </label>

                <div class="col-sm-9">
                    <input type="number" id="form-field-3" name="reachMoney" ng-model="currentObj.sabreplayLimit" required
                           class="col-xs-10 col-sm-5" />
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"
                       for="form-field-1"> 备注: </label>

                <div class="col-sm-9">
					<textarea class="form-control" id="form-field-8"
                              ng-model="currentObj.comment" ng-maxlength="100"></textarea>
                </div>
            </div>

            <div class="form-group" ng-show="myform.$invalid">
                <label class="col-sm-2 control-label"></label>

                <div class="col-sm-10">
                    <div class="alert alert-danger" style="margin-bottom: 0px">
                        <ul>
                            <li ng-show="myform.promotionType.$error.required">所属用户ID不能为空！</li>
                            <li ng-show="myform.title.$error.required">尊享码不能为空！</li>
                            <li ng-show="myform.reachMoney.$error.required">折扣不能为空！</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 no-padding-right">
                    <input type="button" class="btn btn-danger" value="取消" ng-click="$modalClose()" style="float:right;margin: 0 -15%;"/>
                    <input type="submit" class="btn btn-primary" value="确定" ng-disabled="myform.$invalid" style="float:right;"/>
                </div>
            </div>
        </form>

    </div>
    <!-- /.col -->
</div>
<!-- /.row -->